



:root{
    --deep-sky-blue: rgba(72, 190, 255, 1);
    --aqua: rgba(61, 250, 255, 1);
    --mint: rgba(67, 197, 158, 1);
    --myrtle-green: rgba(61, 112, 104, 1);
    --brunswick-green: rgba(20, 69, 61, 1);
}



*{
    padding:0;
    margin:0;
}

p{
    line-height:1.6;
    text-align:justify;
    color:var(--myrtle-green);
}

a{
    text-decoration: none;
    color:inherit;
}


/* body */
body{
    overflow-x:hidden;
    background-color:var(--brunswick-green);
}

body:has(.post-wrapper[show]){
    overflow-y:hidden;
}

body[mobile][side-open]{
    overflow-y:hidden;
}

/* root */
.root{
    width:100%;
    min-height:100vh;
    display:grid;
    grid-template-columns:auto 250px minmax(300px, 700px) auto;
    transition:transform 0.5s;
    position:relative;
}

body[mobile] .root{
    width:calc(100% + 250px);
    grid-template-columns:250px calc(100% - 250px);
    transform:translateX(-250px);
}

body[mobile][side-open] .root{
    transform:translateX(0);
}

/* side */
.side-content{
    grid-column:2/3;
    position:sticky;
    top:0;
    height:100vh;
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:20px;
    box-sizing:border-box;
    color:white;

    /* close side content */
    &>button{
        display:none;
        cursor:pointer;
        align-self:flex-end;
        font-size:1.5rem;
        background-color:transparent;
        border-width:0;
        color:var(--mint);
    }

    &>span:first-of-type{
        align-self:center;
        font-size:2rem;
        font-weight:bold;
        opacity:0.5;
    }

    &>span:last-of-type{
        align-self:center;
        font-size:1.2rem;
        opacity:0.5;
    }
}

/* nav */
.nav{
    display:flex;
    flex-direction:column;
    gap:10px;

    &>a{
        border:1px solid var(--mint);
        padding:5px;
        text-align:center;
        color:rgba(255,255,255,0.5);

        &[active]{
            background-color:var(--mint);
            color:rgba(0,0,0,0.5);
        }
    }

}

body[mobile] .side-content{
    grid-column:1/2;

    /* close side content */
    &>button{
        display:initial;
    }
}

/* main */
.main-content{
    grid-column:3/4;
    display:flex;
    flex-direction:column;
    gap:40px;
    padding:20px;

    /* open side content */
    &>button{
        display:none;
        cursor:pointer;
        align-self:start;
        background-color:transparent;
        border-width:0;
        font-size:1.5rem;
        /* position:sticky; */
        /* top:20px; */
        color:var(--mint);
        /* z-index:10; */
    }

    &>div:not(.home, .transparent, .post-wrapper)> span:first-child{
        align-self:start;
        font-size:2rem;
        font-weight:bold;
        background-clip:text;
        color:transparent;
        background-image:linear-gradient(to right, var(--mint),var(--myrtle-green),var(--brunswick-green));
    }
}

body[mobile] .main-content{
    grid-column:2/3;
    position:relative;

    /* open side content */
    &>button{
        display:initial;
    }
}


/* home */
.home{
    display:flex;
    flex-direction:column;
    gap:20px;
    color:white;
}

/* introduction */
.introduction{
    display:flex;
    flex-direction:column;
    gap:10px;
    color:var(--mint);

    &>span{
        font-weight:bold;
        opacity:0.8;
    }
    
    &> :first-child{
        font-size:2rem;
    }

    &> :nth-child(2){
        font-size:1.5rem;
    }

    &> :last-child{
        font-weight:bold;
    }
}


/* home action */
.home-action{
    display:flex;
    gap:20px;

    &>a{
        color:rgba(0,0,0,0.5);
        background-color:var(--myrtle-green);
        padding:10px;
    }
}

/* about */
.about{
    display:flex;
    flex-direction:column;
    gap:20px;
}

/* about-content */
.about-content{
    display:flex;
    flex-direction:column;
    gap:15px;
}

/* education */
.education{
    display:flex;
    flex-direction:column;
    gap:20px;
}

/* education list */
.education-list{
    display:flex;
    flex-direction:column;
    gap:10px;
}

/* education item */
.education-item{
    display:flex;
    flex-direction:column;
    gap:5px;

    &>button{
        color:rgba(67, 197, 158, 0.5);;
        font-weight:bold;
        background-color:transparent;
        padding:10px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        cursor:pointer;
        border:1px solid var(--mint);

        &:after{
            content:"+";
            font-size:1.5rem;
            color:var(--mint);
        }
    }

    &>p{
        max-height:0;
        overflow-y:hidden;
        transition:max-height 0.5s;
    }
}

.education-item[active]{

    &>button:after{
        content:"-";
    }

    &>p{
        max-height:500px;
    }
}

/* experience */
.experience{
    display:flex;
    flex-direction:column;
    gap:20px;
}

/* experience list */
.experience-list{
    display:flex;
    flex-direction:column;
    gap:20px;
}

/* experience item */
.experience-item{
    display:flex;
    flex-direction:column;
    gap:10px;
    position:relative;
    padding:20px;

    &> :first-child{
        font-size:1.8rem;
        font-weight:bold;
        opacity:0.5;
        color:var(--mint);
    }

    &> :last-child{
        font-size:0.8rem;
        color:var(--myrtle-green);
        font-weight:bold;
    }
}

.experience-item:after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:2px;
    height:100%;
    background-image:linear-gradient(to bottom, var(--mint), var(--brunswick-green));
}


/* skills */
.skill{
    display:flex;
    flex-direction:column;
    gap:20px;
}

/* slide show */
.slide-show{
    display:flex;
    flex-direction:column;
    gap:15px;
}

/* slider wrapper */
.slider-wrapper{
    height:100px;
}


/* slide */
.slide{
    display:flex;
    flex-direction:column;
    gap:10px;
    padding:10px;
    justify-content:center;
    align-items:center;
    background-image:linear-gradient(to right, var(--brunswick-green), var(--mint), var(--brunswick-green));

    &>span{
        font-size:1.2rem;
        font-weight:bold;
        opacity:0.5;
    }

    &>p{
        font-size:0.8rem;
        color:black;
        font-weight:bold;
        opacity:0.5;
    }
}

/* slide indicator */
.slide-indicator{
    display:flex;
    gap:10px;
    justify-content:center;

    &>button{
        border-radius:8px;
        width:8px;
        height:8px;
        border-width:0;
        cursor:pointer;
        opacity:0.8;

        &[active]{
            background-color:var(--mint);
            opacity:1;
        }
    }
}


/* slide direction */
.slide-direction{
    display:flex;
    justify-content:space-between;
    
    &>button{
        border-width:0;
        background-color:transparent;
        cursor:pointer;
        font-size:1.5rem;
        color:var(--mint);
    }
}


/* blog */
.blog{
    display:flex;
    flex-direction:column;
    gap:20px;
}

/* blog content */
.blog-content{
    display:flex;
    flex-direction:column;
    gap:20px;

    &>button{
        color:rgba(0,0,0,0.5);        
        align-self:center;
        padding:10px;
        background-color:var(--mint);
        border-width:0;
        cursor:pointer;

        &[not-show]{
            display:none;
        }
    }
}

/* post list */
.post-list{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap:20px;
}

/* post preview */
.post-preview{
    display:flex;
    flex-direction:column;
    gap:10px;

    &>a{
        font-weight:bold;
        color:rgba(67, 197, 158, 0.5);
    }

    &>span{
        font-size:0.8rem;
        color:var(--myrtle-green);
    }
}

.post-preview[not-show]{
    display:none;
}

/* contact */
.contact{
    display:flex;
    flex-direction:column;
    gap:20px;
}

/* contact content */
.contact-content{
    display:flex;
    flex-direction:column;
    gap:15px;

    &> .email, > .phone, > .linkedin{
        display:flex;
        gap:20px;
        align-items:center;

        &>i{
            font-size:1.5rem;
            display:flex;
            justify-content:center;
            align-items:center;
            width:50px;
            height:50px;
            border-radius:50px;
            border:1px solid var(--mint);
            color:var(--mint);
        }

        &>a{
            color:var(--mint);
            font-size:1.2rem;
            font-weight:bold;
            opacity:0.5;
        }
    }
}

/* contact form */
.contact-form{
    display:flex;
    flex-direction:column;
    gap:15px;

    &>input{
        padding:15px;
        background-color:var(--myrtle-green);
        border-width:0;
        color:rgba(0,0,0,0.7);
        
        &::placeholder{
            color:rgba(0,0,0,0.7);
        }
    }

    &>textarea{
        height:100px;
        padding:15px;
        background-color:var(--myrtle-green);
        border-width:0;
        color:rgba(0,0,0,0.7);

        &::placeholder{
            color:rgba(0,0,0,0.7);
        }
    }

    &>button{
        align-self:start;
        padding:10px;
        border-width:0;
        background-color:var(--mint);
        color:rgba(0,0,0,0.5);
        cursor:pointer;
    }

}


/* transparent */
.transparent{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    display:none;
}

body[mobile][side-open] .transparent{
    display:initial;
}


/* post wrapper */
.post-wrapper{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    display:none;
}

.post-wrapper[show]{
    display:initial;
}

/* post */
.post{
    max-width:600px;
    margin-inline:auto; 
    position:sticky;
    top:0;
    height:100vh;
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:20px;
    background-color:var(--myrtle-green);

    &>button{
        font-size:1.5rem;
        border-width:0;
        background-color:transparent;
        color:var(--mint);
        cursor:pointer;
        align-self:start;
    }
}

/* post content */
.post-content{

    &>p{
        color:rgba(0,0,0,0.5);
    }

}










