



:root{
    --aquamarine: #5dfdcbff;
    --tiffany-blue: #77eae5ff;
    --pale-azure: #90d7ffff;
    --non-photo-blue: #ade8ffff;
    --light-cyan: #c9f9ffff;
    --columbia-blue: #c4e5f0ff;
    --columbia-blue-2: #bfd0e0ff;
    --french-gray: #bcc2cfff;
    --french-gray-2: #b8b3beff;
}

*{
    padding:0;
    margin:0;
}

a{
    text-decoration:none;
    color:inherit;
}

li{
    list-style-type:none;
}


#root{
    min-width:440px;
    display:grid;
    min-height:100vh;
    width:100%;
    grid-template-columns:minmax(20px, auto) minmax(400px, 800px) minmax(20px, auto);
    grid-template-rows:100px auto 50px;
}




