



:root{
    --aquamarine: #5dfdcbff;
    --tiffany-blue: #77eae5ff;
    --pale-azure: #90d7ffff;
    --non-photo-blue: #ade8ffff;
    --light-cyan: #c9f9ffff;
    --columbia-blue: #c4e5f0ff;
    --columbia-blue-2: #bfd0e0ff;
    --french-gray: #bcc2cfff;
    --french-gray-2: #b8b3beff;
}

*{
    padding:0;
    margin:0;
}

a{
    text-decoration:none;
    color:inherit;
}

li{
    list-style-type:none;
}


#root{
    min-width:440px;
    display:grid;
    min-height:100vh;
    width:100%;
    grid-template-columns:minmax(20px, auto) minmax(400px, 800px) minmax(20px, auto);
    grid-template-rows:100px auto 50px;
}


header{
    /* grid-row:1/2; */
    grid-column:1/-1;
    display:grid;
    grid-template-columns:subgrid;
    background-color:var(--french-gray-2);

    h1{
        grid-column:2/3;
        place-self:center start;
        opacity:0.5;
    }
}

main{
    /* grid-row:2/3; */
    grid-column:1/-1;
    grid-template-columns:subgrid;
    display:grid;
    background-color:var(--light-cyan);
}


footer{
    /* grid-row:3/4; */
    grid-column:1/-1;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:var(--french-gray-2);

    h5{
        opacity:0.6;
    }
}


